@use "/src/styles/variables" as var;

.btn {
  &--primary {
    background: var.$color-primary;
    > span {
      color: var.$white;
    }
  }
  &--primary:hover,
  &--primary:active {
    background: var.$color-primary !important;
    border-color: #d9d9d9 !important;
  }
}
