$primary-color: #1B2430;
$secundary-color: #51557E;
$tertiary-color: #816797;
$complement-color: #D6D5A8;
$error-color: #FF1700;
$success-color: #06FF00;
$warning-color: #FAC213;
$info-color: #A0BCC2;
$white-color: #F5F5F5;

$screen-lg: 1200px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-xs: 580px;