.job-card {
  background: #ECF0F1;
  border-radius: 8px;
  padding: 12px 15px;
  width: 250px;
  height: fit-content;
  p {
    margin: 0;
  }
  
  &__title {
    margin-top: 0;
    font-size: 1em;
    word-break: break-all;
  }

  &__see-detail {
    background: #2C3E50;
    color: #ECF0F1;
    border: none;
    padding: 4px 8px;
    border-radius: 20px;
    font-size: 12px;

    &:focus-visible {
      outline: none;
    }

    &:hover {
      color: #BDC3C7;
      background: #34495E;
    }
  }
  
  &__row {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__center {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 8px;
  }
  
}